<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1920-606-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2>Agregar Nota</h2>
		<form class="form-horizontal" method="post" action="/mark/add" th:object="${mark}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="user">Alumno:</label>
				<div class="col-sm-10"
					th:if="${usersList != null and not #lists.isEmpty(usersList)}">
					<select id="user" class="form-control" name="user">
						<option th:each="user : ${usersList}" th:value="${user.id}"
							th:text="${user.dni}+' - '+${user.name}+' ' +${user.lastName} ">
							Usuario</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description"
					th:text="#{descripcion}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="description"
						placeholder="Ejemplo Descripcion" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="score" th:text="#{score}"></label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="score"
						placeholder="Entre 0 y 10" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('score')}"
						th:errors="*{score}"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>
