<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1920-606-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

		<nav th:replace="fragments/nav" />



	<div class="container">
		<h2>Detalles del profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Dni</div>
			<div class="panel-body" th:text="${professor.dni}">
				Ejercicio 1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${professor.nombre}">100</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellido</div>
			<div class="panel-body" th:text="${professor.apellido}">100</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Categoria</div>
			<div class="panel-body" th:text="${professor.categoria}">100</div>
		</div>
	</div>


</body>
</html>
