<!DOCTYPE html>
<html lang="en">
<head>
<title>sdi1920-606-lab-spring</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav th:replace="fragments/nav" />




	<div class="container">
		<h2>Profesores</h2>
		<p>Los profesores que actualmente figuran en el sistema son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Dni</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Categoria</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="professor : ${professorList}">
						<td th:text="${professor.id}">1</td>
						<td th:text="${professor.dni}">Dni</td>
						<td th:text="${professor.nombre}">Nombre</td>
						<td th:text="${professor.apellido}">Apellido</td>
						<td th:text="${professor.categoria}">Categoria</td>
						<td><a th:href="${'/professor/details/' +professor.id}"
							sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PROFESSOR')">detalles</a></td>
						<td><a th:href="${'/professor/edit/' + professor.id}"
							sec:authorize="hasRole('ROLE_ADMIN')">modificar</a></td>
						<td><a th:href="${'/professor/delete/' + professor.id}"
							sec:authorize="hasRole('ROLE_ADMIN')">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>
